# Logging
RUST_LOG=info

# Discord Transport
LIVVI_DISCORD_TOKEN=""

# OpenAI Provider
LIVVI_OPENAI_API_KEY="sk-..."
LIVVI_OPENAI_API_URL="http://localhost:8080/v1"
LIVVI_OPENAI_MODEL_NAME="gemma-4-12b-it"
